@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.common {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.05);
}

.logo {
  width: 300px;
}

.menu {
  list-style: none;
}

.menu-item {
  display: inline;
}

.menu-item a {
  font-family: "Times New Roman", "Arial";
  margin: 3px;
  padding: 10px 20px;
  font-size: 0.9em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
}

.menu-item a:hover {
  color: #fff;
  background-color: #23cdaf;
  box-shadow: 5px 10px 38px rgba(24, 139, 95, 0.2);
}

/* Hamburger Menu */
:root {
  --before-angle: 0deg;
  --before-position: -8px;
  --after-angle: 0deg;
  --after-position: 8px;
}

.icon-container {
  display: none;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 35px;
  border: 2px solid #000;
  cursor: pointer;
}

.hamburger {
  position: absolute;
  font-size: 25px;
  cursor: pointer;
  background-color: #000;
  width: 30px;
  height: 4px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  background-color: #000;
  width: 30px;
  height: 4px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  transform-origin: 50%;
}

.hamburger::before {
  transform: rotate(var(--before-angle)) translateY(var(--before-position));
}

.hamburger::after {
  transform: rotate(var(--after-angle)) translateY(var(--after-position));
}

.hamburger.open {
  background-color: transparent;
}

.menu1 {
  width: 100%;
  position: fixed;
  right: 0;
  top: 53px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-out;
  z-index: 1;
}

.menu1 a {
  text-decoration: none;
}

.menu1 li {
  font-family: "Times New Roman", "Arial";
  display: block;
  color: #000100;
  background-color: #dfdfdf;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  font-size: 0.9em;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

.menu1 li:hover {
  color: #fff;
  background-color: #23cdaf;
}

@media (max-width: 800px) {
  .menu {
    display: none;
  }

  .icon-container {
    display: flex;
  }
}

@media (max-width: 700px) {
  .logo {
    width: 250px;
  }
}

@media (max-width: 400px) {
  .logo {
    width: 200px;
  }

  .icon-container {
    width: 30px;
    height: 30px;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    width: 25px;
  }
}

@media (max-width: 360px) {
  .logo {
    width: 180px;
  }
}
