@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.05);
}

.logo {
  width: 300px;
}

.menu {
  list-style: none;
}

.menu-item {
  display: inline;
}

.menu-item a {
  font-family: "Times New Roman", "Arial";
  margin: 3px;
  padding: 10px 20px;
  font-size: 0.9em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
}

.menu-item a:hover {
  color: #fff;
  background-color: #23cdaf;
  box-shadow: 5px 10px 38px rgba(24, 139, 95, 0.2);
}

/* Dots Menu */
/* .small-menu {
  display: none;
} */

.dots {
  position: relative;
  display: none;
  height: 50px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.menu-icon {
  position: absolute;
  font-size: 25px;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  cursor: pointer;
}

.menu1 {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-out;
}

.menu1 ul li {
  font-family: "Times New Roman", "Arial";
  display: block;
  background-color: #dfdfdf;
  text-align: center;
  padding: 15px 0;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.menu1 ul li:hover {
  background-color: #23cdaf;
}

.menu1 ul li:hover a {
  color: #fff;
}

.menu1 ul li a {
  color: #000100;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 2px;
}

@media (max-width: 800px) {
  .logo {
    width: 200px;
  }
  .menu-item a {
    font-family: "Poppins";
  }
  .menu {
    display: none;
  }
  .dots {
    display: inherit;
  }
  .menu1 {
    display: inherit;
  }
}
