.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
  padding: 10px;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

a.logo {
  color: var(--text-color);
  font-size: 1.8em;
  font-weight: 700;
  letter-spacing: 4px;
  text-decoration: none;
  user-select: none;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.menu-item {
  display: inline;
}

.menu-item a {
  font-family: "Times New Roman", "Arial";
  margin: 3px;
  padding: 10px 20px;
  font-size: 0.9em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--text-color);
}

.menu-item a:hover,
.menu-item a.active {
  color: #fff;
  background-color: var(--link-bg);
  box-shadow: 5px 10px 38px rgba(24, 139, 95, 0.2);
}

.dark-mode-button {
  color: var(--text-color);
  background-color: transparent;
  margin-left: 10px;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

/* Hamburger Menu */
:root {
  --before-angle: 0deg;
  --before-position: -8px;
  --after-angle: 0deg;
  --after-position: 8px;
}

.icon-container {
  display: none;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 35px;
  cursor: pointer;
}

.hamburger {
  position: absolute;
  font-size: 25px;
  cursor: pointer;
  background-color: var(--text-color);
  width: 30px;
  height: 4px;
  transition: all 0.5s ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  background-color: var(--text-color);
  width: 30px;
  height: 4px;
  transition: all 0.5s ease-in-out;
  transform-origin: 50%;
}

.hamburger::before {
  transform: rotate(var(--before-angle)) translateY(var(--before-position));
}

.hamburger::after {
  transform: rotate(var(--after-angle)) translateY(var(--after-position));
}

.hamburger.open {
  background-color: transparent;
}

.small-menu {
  width: 100%;
  position: fixed;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-out;
  z-index: 1;
}

.small-menu a {
  text-decoration: none;
}

.small-menu li {
  font-family: "Times New Roman", "Arial";
  display: block;
  color: #000100;
  background-color: #dfdfdf;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  font-size: 0.9em;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

.small-menu li:hover {
  color: #fff;
  background-color: var(--link-bg);
}

@media (max-width: 800px) {
  .menu {
    display: none;
  }

  .icon-container {
    display: flex;
  }

  .small-menu {
    top: 66.59px;
  }
}

@media (max-width: 700px) {
  .logo {
    width: 250px;
  }
}

@media (max-width: 400px) {
  .logo {
    width: 200px;
  }

  .icon-container {
    width: 30px;
    height: 30px;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    width: 25px;
  }

  .small-menu {
    top: 50.51px;
  }
}

@media (max-width: 360px) {
  .logo {
    width: 180px;
  }
}
